{% extends "students/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Update Device Information - {{ branch }}</h3>
  
  {% if success %}
    <div class="alert alert-success" role="alert">
      The Device information was updated successfully.
    </div>
  {% endif %}
  
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Device Information
        </div>
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            
            <!-- Display Validation Errors -->
            {% if form.errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            
            <table class="table">
              <tr>
                <td>{{ form.employee_name.label_tag }}</td>
                <td>{{ form.employee_name }}</td>
              </tr>
              <tr>
                <td>{{ form.device_name.label_tag }}</td>
                <td>{{ form.device_name }}</td>
              </tr>
              <tr>
                <td>{{ form.department.label_tag }}</td>
                <td>{{ form.department }}</td>
              </tr>
              <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
                <tr>
                  <td>{{ form.branch.label_tag }}</td>
                  <td>{{ form.branch }}</td>
                </tr>
            </table>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'device_list_branch' branch=branch|default:'Khobar' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
